.FifthPage header {
	text-align: center;
	margin: 40px 0;
}

.map-container {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.FifthPage {
	padding: 20px;
	background-color: #ffffff
		/* Set background to white */
}

svg {
	display: block;
	height: 450px;
	/* Reduced size proportionally */
}

svg path {
	fill: #FFE4E1;
	/* 기본 색상을 흰색으로 설정 */
	stroke-width: 2;
	/* 테두리 두께 설정 */
}

.results-container {
	width: 100%;
	padding: 10px;
	background: #fffafa;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin-bottom: 40px;
	margin-top: 40px;
}

.result {
	font-family: "Poor Story", system-ui;
	font-weight: 400;
	font-style: normal;
	display: flex;
	align-items: center;
	margin: 10px 10px 30px;
	position: relative;
}

.region {
	width: 70px;
	font-size: 16px;
	color: #333;
}

.percentage-bar {
	height: 30px;
	background-color: #ddd;
	color: white;
	padding-right: 5px;
	position: absolute;
	left: 60px;
	top: 0;
	transition: width 0.3s ease-in-out;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: 16px;
}

.btnfinal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.btnfinal p {
	margin: 10px 0;
	font-size: 17px;
}

.social-icons {
	display: flex;
	justify-content: center;
	margin: 10px 0;
}

.social-icon {
	display: inline-block;
	margin: 0 10px;
}

.social-icon img {
	width: 60px;
	/* Adjust the size as needed */
	height: 60px;
	/* Adjust the size as needed */
	margin: 10px;
	border-radius: 50%;
	transition: transform 0.3s;
}

.social-icon img:hover {
	transform: scale(1.1);
	/* Optional: Add a hover effect */
}

.next-btn {
	display: block;
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.next-btn:hover {
	background-color: #0056b3;
}