/* General styling for the header */
header {
  text-align: center;
  margin: 20px 0;
  color: #333; /* Change the font color as needed */
}

.next-analysis-page header{
  margin-top: 60px;
}

.next-analysis-page{
  padding:20px;
  background-color: #fff8f8;
}

h1 {
  font-size: 1.7rem; /* Larger font size for the header */
  line-height: 1.5;
  font-weight: 300;
}

h2 {
  font-size: 1.5rem; /* Larger font size for the header */
  line-height: 1.5;
  font-weight: 300;
}


.analysis-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.vs-text {
  font-size: 25px;
  font-weight: bold;
  color: #a0a0a0;
  margin: 0 20px;
}

/* Styling for audio buttons */
.audio-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.audio-button-f {
  background-color: #99b5db;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 50%; /* 원형 버튼으로 만들기 */
  padding: 13px; /* 버튼 내부 여백 조정 */
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.audio-button-l {
  background-color:  #f08080; /* 버튼 배경색 */
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 50%; /* 원형 버튼으로 만들기 */
  padding: 13px; /* 버튼 내부 여백 조정 */
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.audio-button span {
  margin-left: 15px; /* 아이콘과 텍스트 사이 간격 조정 */
  font-size: 17px;
}

/* Center alignment for graph sections */
.graph-section {
  font-family: "Poor Story", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

/* Additional styling for graph section */
.graph-section {
  width: 120%;
  max-width: 600px;
  margin-bottom: 40px;
  box-shadow: 1px 2px 4px 3px rgba(0,0,0,0.1);
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

.next-btn {
  width: 70%;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  box-sizing: border-box;
  margin: 0 10px;
  background: #cd5c5c;
  display: block;
  margin: 20px auto;
  margin-bottom: 60px;
}
